*{
  text-align: center;
  font-family: "Jua", sans-serif;
  background-color: rgb(31 31 32);
  color: #fff;
}
h1{
  font-size: 48px;
}
img{
  width: 200px;
  height: 250px;
  border-radius: 30px;
  margin-bottom: 5%;
}
#intro{
  margin-bottom: 5%;
  font-size: 24px;;
}
#funFacts{
  border: 1px solid #fff;
  font-size: 21px;
  width: 600px;
  height: 300px;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
